<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Projeto</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<table class="table" >
		<tr>
		
			<th>Nome</th>
			<th>Email</th>
			
		</tr>
		<tr th:each= "user : ${usersList}">
		
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
			<td></td>
		</tr>
	</table>
</body>
</html>